In [1]:
import pandas as pd 
import numpy as np

In [2]:
df1 = pd.read_excel('Depression.xlsx')

In [3]:
dfh=pd.read_csv('happy.csv')

In [4]:
df1['text'].to_csv("dep_hindi.csv", index = False)

In [5]:
df2 = pd.read_csv("dep_hindi.csv")
df2.head()

                                                text
0  May we all make a collective resolution this y...
1                You never know what's in their mind
2  Always lend an ear or give a hug...no matter i...
3  everyday is a struggle but you’ve learned to d...
4             Some souls are too pure for this world

In [6]:
 dfh = pd.read_csv("happy.csv")
 dfh.head()

  Emotion                                               Text  label
0   happy  i have been with petronas for years i feel tha...      0
1   happy  i do feel that running is a divine experience ...      0
2   happy  i have immense sympathy with the general point...      0
3   happy    i do not feel reassured anxiety is on each side      0
4   happy    i have the feeling she was amused and delighted      0

In [7]:
import re
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()
from nltk.corpus import stopwords
import string

#import nltk
nltk.download('stopwords')
#from nltk.corpus import stopwords
stopword = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
def clean(text):
    text = text.lower()
    text = re.sub(r"(@\[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?|(\n)|(\w*\d\w*)", "", str(text))
    text = re.sub(r'[^\w\s]', '', text)
    text = [word for word in text.split(' ') if word not in (stopword)]
    text = " ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text = " ".join(text)
    return text
df2['text'] = df2['text'].apply(clean)
dfh['Text'] = dfh['Text'].apply(clean)
df2.head()

                                                text
0  may make collect resolut year help keep one an...
1                               never know what mind
2  alway lend ear give hugno matter think imposs ...
3             everyday struggl youv learn smile face
4                                    soul pure world

In [9]:
df2.shape

(350, 1)

In [10]:
from deep_translator import GoogleTranslator        #text<5000 only

In [11]:
translations = {}
for element in df2['text']:
      translations[element] = GoogleTranslator(source='auto', target='hi').translate(element)

In [12]:
df2.replace(translations, inplace=True)
print(df2)

                                                  text
0    एक दूसरे को हल्का रखने में मदद करने का दृढ़ सं...
1                                       न जाने क्या मन
2    हमेशा कान देना गले लगाना कोई बात नहीं किसी व्य...
3    रोज़मर्रा के संघर्ष से आप मुस्कुराते हुए चेहरा...
4                                    आत्मा शुद्ध संसार
..                                                 ...
345                महीन रेखा सब कुछ महसूस करो कुछ नहीं
346       डार्ल होल्ड मच सैड आई लगभग टच सोल सोल सीआरआई
347       अकेली जगह का पता भी नहीं था कि अंदर मौजूद है
348  आत्महत्या करने का वास्तविक कारण हमेशा यह जान ल...
349                                     दर्द अवसर सीखो

[350 rows x 1 columns]

In [13]:
df2.shape

(350, 1)

In [14]:
label=np.ones((350),dtype=int)
# Convert the dictionary into DataFrame
label1 = pd.DataFrame(label)

In [29]:
# and equating it to the list
df2['label']=label1

In [30]:
df2.head()

                                                text  label
0  एक दूसरे को हल्का रखने में मदद करने का दृढ़ सं...      1
1                                     न जाने क्या मन      1
2  हमेशा कान देना गले लगाना कोई बात नहीं किसी व्य...      1
3  रोज़मर्रा के संघर्ष से आप मुस्कुराते हुए चेहरा...      1
4                                  आत्मा शुद्ध संसार      1

In [16]:
dfh.shape

(999, 3)

In [17]:
translations = {}
for element in dfh['Text']:
      translations[element] = GoogleTranslator(source='auto', target='hi').translate(element)

In [18]:
dfh.replace(translations, inplace=True)
print(dfh)

    Emotion                                               Text  label
0     happy  पेट्रोना वर्ष को लगता है कि पेट्रोना ने अच्छा ...      0
1     happy  फील रन डिवाइन एक्सपेरि एक्सपेक्ट टाइप स्पिरिट ...      0
2     happy  अपार सहानुभूति सामान्य बिंदु संभव प्रोटो राइटर...      0
3     happy                      आश्वस्त चिंता पक्ष महसूस करें      0
4     happy                                     खुशी महसूस करो      0
..      ...                                                ...    ...
994   happy  और भी कम शानदार महसूस करें, दिन तय करने की जरू...      0
995   happy  आत्मविश्वासी पीछा मल्टीप्ले फ्लैश गेम अगला एजेंडा      0
996   happy                            इच्छा को भी स्वीकार करो      0
997   happy  कुछ भी महसूस हो रहा है कि समस्या हल हो गई है, ...      0
998   happy  कमी महसूस करना शुरू करें कनेक्ट करें पति निश्च...      0

[999 rows x 3 columns]

In [19]:
dfh.drop(['Emotion'], axis=1)

                                                  Text  label
0    पेट्रोना वर्ष को लगता है कि पेट्रोना ने अच्छा ...      0
1    फील रन डिवाइन एक्सपेरि एक्सपेक्ट टाइप स्पिरिट ...      0
2    अपार सहानुभूति सामान्य बिंदु संभव प्रोटो राइटर...      0
3                        आश्वस्त चिंता पक्ष महसूस करें      0
4                                       खुशी महसूस करो      0
..                                                 ...    ...
994  और भी कम शानदार महसूस करें, दिन तय करने की जरू...      0
995  आत्मविश्वासी पीछा मल्टीप्ले फ्लैश गेम अगला एजेंडा      0
996                            इच्छा को भी स्वीकार करो      0
997  कुछ भी महसूस हो रहा है कि समस्या हल हो गई है, ...      0
998  कमी महसूस करना शुरू करें कनेक्ट करें पति निश्च...      0

[999 rows x 2 columns]

In [20]:
dfh.rename(columns = {'Text':'text'}, inplace = True)

In [31]:
#adding one df to anither existing df
df_main = df2.append(dfh)

C:\Users\dell\AppData\Local\Temp\ipykernel_165868\2647035317.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_main = df2.append(dfh)

In [32]:
df_main.shape

(1349, 3)

In [33]:
df_main.head()

                                                text  label Emotion
0  एक दूसरे को हल्का रखने में मदद करने का दृढ़ सं...      1     NaN
1                                     न जाने क्या मन      1     NaN
2  हमेशा कान देना गले लगाना कोई बात नहीं किसी व्य...      1     NaN
3  रोज़मर्रा के संघर्ष से आप मुस्कुराते हुए चेहरा...      1     NaN
4                                  आत्मा शुद्ध संसार      1     NaN

In [34]:
df_main=df_main.drop(['Emotion'],axis=1)

In [35]:
df_main.reset_index(inplace = True)

In [36]:
df_main.tail()

      index                                               text  label
1344    994  और भी कम शानदार महसूस करें, दिन तय करने की जरू...      0
1345    995  आत्मविश्वासी पीछा मल्टीप्ले फ्लैश गेम अगला एजेंडा      0
1346    996                            इच्छा को भी स्वीकार करो      0
1347    997  कुछ भी महसूस हो रहा है कि समस्या हल हो गई है, ...      0
1348    998  कमी महसूस करना शुरू करें कनेक्ट करें पति निश्च...      0

In [37]:
df_main.drop(['index'],axis=1)

                                                   text  label
0     एक दूसरे को हल्का रखने में मदद करने का दृढ़ सं...      1
1                                        न जाने क्या मन      1
2     हमेशा कान देना गले लगाना कोई बात नहीं किसी व्य...      1
3     रोज़मर्रा के संघर्ष से आप मुस्कुराते हुए चेहरा...      1
4                                     आत्मा शुद्ध संसार      1
...                                                 ...    ...
1344  और भी कम शानदार महसूस करें, दिन तय करने की जरू...      0
1345  आत्मविश्वासी पीछा मल्टीप्ले फ्लैश गेम अगला एजेंडा      0
1346                            इच्छा को भी स्वीकार करो      0
1347  कुछ भी महसूस हो रहा है कि समस्या हल हो गई है, ...      0
1348  कमी महसूस करना शुरू करें कनेक्ट करें पति निश्च...      0

[1349 rows x 2 columns]

In [43]:
x = np.array(df_main['text'])
y = np.array(df_main['label'])
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x = cv.fit_transform(x)

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 30)

In [45]:
x_train.shape

(1079, 824)

In [46]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier()
dtc.fit(x_train, y_train)

DecisionTreeClassifier()

In [47]:
dtc.score(x_test,y_test)

0.8333333333333334

In [48]:
y_pred=dtc.predict(x_test)

In [49]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 0], dtype=int64)